// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
// *{
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }
// .navbar{
//     background: #f5f5f6;
//     padding: 1em 35px;
//     display: flex;
//     justify-content:space-between;
//     align-items: center;
//     .center{
//         text-align: center;
//         a{
//             margin-right: 33px;
//             text-decoration: none;
//             color: #959BA4;
//             letter-spacing: 0.06em;
//             font-style: normal;
//             font-weight: 500;
//             font-size: 11px;
//             line-height: 13px;
//             font-family: 'Roboto', sans-serif;
//             transition: 0.3s;
//             &:hover{
//                 color: #000;
//             }
//         }
//         .active{
//             color: #000;
//         }
//     }
//     .login{
//         button{
//             padding: 5px;
//             background-color: #fff;
//             border: none;
//             font-style: normal;
//             font-weight: 500;
//             font-size: 11px;
//             line-height: 13px;
//             display: flex;
//             align-items: center;
//             text-align: center;
//             letter-spacing: 0.06em;
//             font-family: 'Roboto', sans-serif;
//             cursor: pointer;
//         }
//     }
// }
// .main{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
//     h1{
//         max-width: 800px;
//         margin-top: 56px;
//         font-family: 'Roboto';
//         font-style: normal;
//         font-weight: 700;
//         font-size: 36px; 
//         line-height: 42px;
//         margin-bottom: 40px;
//     }
// }
// .calculate{
//     display: flex;
//     justify-content: flex-start;
//     max-width: 800px;
//     align-items: center;
//     .value-buttons-left{
//         font-size: 0px;
//         margin-bottom: 20px;
//         margin-top: 10px;
//         font-family: 'Roboto';
//         button{
//             border-radius: 0px;
//             border: 1px solid #E5E5E5;
//             outline:none;
//             padding: 10px 21px;
//             font-weight: 400;
//             font-family: 'Roboto';
            
//             &.actived{
//                 background: #833AE0;
//                 color: #fff;
//             }
//             cursor: pointer;
//         }
        
//         .first{
//             border-top-left-radius:3px;
//             border-bottom-left-radius:3px;
//         }
//         .last{
//             border-top-right-radius:3px;
//             border-bottom-right-radius:3px;
//         }
//     }
//     .value-buttons-right{
//         font-size: 0px;
//         margin-bottom: 20px;
//         margin-top: 10px;
//         font-family: 'Roboto';
//         button{
//             border-radius: 0px;
//             border: 1px solid #E5E5E5;
//             outline:none;
//             padding: 10px 21px;
//             font-weight: 400;
//             font-family: 'Roboto';
            
//             &.actived{
//                 background: #833AE0;
//                 color: #fff;
//             }
//             cursor: pointer;
//         }
        
//         .first{
//             border-top-left-radius:3px;
//             border-bottom-left-radius:3px;
//         }
//         .last{
//             border-top-right-radius:3px;
//             border-bottom-right-radius:3px;
//         }
//     }
//     .price{
//         font-family: 'Roboto';
//         border: 1px solid #E5E5E5;
//         border-radius: 3px;
//         padding: 10px 15px;
//         p{
//             font-style: normal;
//             font-weight: 400;
//             font-size: 12px;
//             line-height: 14px;
//             display: flex;
//             align-items: center;
//         }
//         input{
//             width: 100%;
//             height: 40px;
//             font-size: 40px;
//             margin-bottom: 10px;
//             outline: none;
//             border: none;
//             font-weight: 700;
//             font-size: 36px;
//             line-height: 42px;

//         }
//     }
//     .left{
//         margin-right: 123px;
//         width: 277px;
//     }
//     .right{
//         width: 277px;
//     }
//         p{
//             color: #9F9F9F;

//         }
// }
// #navbar-phone{
//     z-index: 20;
//     width: 100%;
//     height: 60px;
//     display: none;
//     background-color: #fff;
//     position: fixed;
//     .logo{
//         position: absolute;
//         top: 20px;
//         right: 30px;
//        a{
//            font-size: 27px;
//            color: #000;
//            font-family: "Playfair Display", times, serif;
//            text-decoration: none;
           
//        }

//     }
//     .menu{
//         border: 1px solid #fff;
//         position: fixed;
//         top: 0;
//         left: 0;
//         width: 60px;
//         height: 61px;
//         background: #fff;
//         cursor: pointer;
//         z-index: 12;
//         border-left: 1px solid rgba(0,0,0,.1);
        
//         &.active{
//             span:nth-child(1){     
//                 transform: translateY(0px) rotate(-45deg);
//             }
//             span:nth-child(3)
//             {
//             transform: translateY(0px) rotate(45deg);
//             }
//             span:nth-child(2)
//             {
//             transform: translatex(30px);
//             opacity:0;
//             }
//         }
//     }
//     span{
//         position: absolute;
//         width: 30px;
//         height: 2px;
//         background: #262626;
//         display: block;
//         top: calc(50% - 1px);
//         right: calc(50% - 15px);
//         transition: 0.2s;
//         &:nth-child(1){     
//         transform: translateY(-10px);
//         }
//         &:nth-child(3)
//         {
//             transform: translateY(10px);
        
//         }
//     }
//     .menu-bar{
//         z-index: 11;
//         position: absolute;
//         top:0;
//         left:0;
//         height: auto;
//         width: 50%;    
//         background-color: #fff;
//         transition: 0.5s;
//         transform: translateX(-100%);
//         &.active{
//         transform: translateX(-50%);    
//         }
//         ul{
//             display:inherit;
//             width: 100%;
//             text-align: center;
//             height: 50%; 
//             float: none;
//             margin: 0;
//             padding: 0;
//             li{
//                 list-style: none;
                
//                 a{
//                     line-height: 60px;
//                     font-family: sans-serif;
//                     text-transform: uppercase;
//                     font-weight: bold;
//                     color: #262626;
//                     text-decoration: none;
//                     padding: 0 20px;
//                     display: block;
//                     border-right:none;
//                     border-bottom: 1px solid rgba(0,0,0,.1);
//                     &:hover{
//                         background: #833AE0;
//                         color: #fff;
//                     }
//                 }
//                 &:last-child a{
//                     border-right: none;
//                 }
//             }
            
            
//         }
//     }
    
// }
// @media (min-width:320px) and (max-width:910px) {
//     .navbar{
//         display: none;
//     }
//     #navbar-phone{
//         display: block;
//     }
//     .calculate{
//         display: block;
//     }
//     .main h1{
//         margin-top: 112px;
//     }
//     .calculate .left{
//         margin-right: 0px;
//         margin-bottom: 50px;
//     }
// }