@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  background: #f5f5f6;
  padding: 1em 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .center {
    margin-right: 170px;
    a {
      margin-right: 33px;
      text-decoration: none;
      color: #959ba4;
      letter-spacing: 0.06em;
      font-style: normal;
      font-weight: 500;
      font-size: 11px;
      line-height: 13px;
      font-family: "Roboto", sans-serif;
      transition: 0.3s;
      &:hover {
        color: #000;
      }
    }
    .active {
      color: #000;
    }
  }
  .login {
    button {
      padding: 5px;
      background-color: #fff;
      border: none;
      font-style: normal;
      font-weight: 500;
      font-size: 11px;
      line-height: 13px;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.06em;
      font-family: "Roboto", sans-serif;
      cursor: pointer;
    }
  }
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    width: 800px;
    margin-top: 56px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 40px;
  }
}
.calculate {
  display: flex;
  justify-content: flex-start;
  width: 800px;
  align-items: center;
  .value-buttons-left {
    font-size: 0px;
    margin-bottom: 20px;
    margin-top: 10px;
    font-family: "Roboto";
    button {
      border-radius: 0px;
      border: 1px solid #e5e5e5;
      outline: none;
      padding: 10px 21px;
      cursor: pointer;
    }
    .actived {
      background: #833ae0;
      color: white;
    }
    .last {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
  .value-buttons-right {
    font-size: 0px;
    margin-bottom: 20px;
    margin-top: 10px;
    font-family: "Roboto";
    button {
      border-radius: 0px;
      border: 1px solid #e5e5e5;
      outline: none;
      padding: 10px 21px;
      cursor: pointer;
    }
    .actived {
      background: #833ae0;
      color: white;
    }
    .first {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    .last {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
  .price {
    font-family: "Roboto";
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    padding: 10px 15px;
    p {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      display: flex;
      align-items: center;
    }
    input {
      width: 100%;
      height: 40px;
      font-size: 40px;
      margin-bottom: 10px;
      outline: none;
      border: none;
      font-weight: 700;
      font-size: 36px;
      line-height: 42px;
    }
  }
  .left {
    margin-right: 123px;
    width: 290px;
  }
  .right {
    width: 290px;
  }
  p {
    color: #9f9f9f;
  }
}
